#presantation {
  margin-top: 10%;
  margin-left: 15% !important;
}

.cube {
  margin-left: 0% !important;
  margin-right: 8% !important;
}
.cube > img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: 40%;
  margin-top: 35% !important;
  height: 80%;
  width: auto;
}
.rows {
  display: flex;
  flex-direction: row;
}
.presantation{
  margin-top: 5%;
  margin-left:6vw;
  display: flex;
  justify-content: space-evenly;
}
.columns {
  display: flex;
  flex-direction: column;
}

.explication {
  margin-right: 20% !important;
  margin-top: 8%;
}
@media only screen and (max-width: 640px) {
  .rows {
    display: flex;
    flex-direction: column;
  }

  .cube > img {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 15%;
    margin-top: 5% !important;
    height: 80%;
    width: 80%;
  }
  .explication {
    margin-left: 15% !important;
    margin-top: 8%;
  }
  #presantation {
    margin-top: 5%;
    margin-left: 25% !important;
  }
  

}