footer {
  margin: 0;
  padding: 0;
  background-color: black;
  margin-bottom: 0px;
  bottom:0;
}
#primaire {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  margin-top: 2%;
  margin-bottom: 0%;
}
.ligne {
  display: flex;
  flex-direction: column;
  margin: 4%;
  margin-left: 25%;
}
.ligne > strong {
  color: blue;
}

.ligne > p > a {
  color: aliceblue;
  text-decoration: none;
}
